<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">

    <title>VenturePact NodeJS</title>
</head>
<body>
<div class="container">
    <h1 class="text-center border rounded-pill" style="background: #14900a;color: rgb(255,255,255);">Node JS Venturepact App
        <a href="/" style="color: red"> Click to Home</a></h1>
    <div style="background: rgba(62,222,232,0.31);height: 439px;margin-top: 53px;">
        <h1>Things to Implement:</h1>
        <h2 class="text-center">File Upload: done</h2>
        <h2 class="text-center">Pdf Generate: done</h2>
        <h2 class="text-center">Routes: done</h2>
        <h2 class="text-center">Controller: done</h2>
        <h2 class="text-center">Services ???</h2>
        <h2 class="text-center">Morgan: Done</h2>
        <h2 class="text-center">MongoDB connect: Done</h2>
        <h2 class="text-center">Email Send: done</h2>
    </div>
    <div style="background: rgba(66,193,86,0);height: 229px;padding: 24px;">
        <a class="btn btn-info btn-lg shadow" role="button" href="/fileup" style="font-size: 27px;border-radius: 61px;margin: 7px;">File Upload</a>
        <a class="btn btn-info btn-lg shadow" role="button" href="/listFiles"  style="font-size: 27px;border-radius: 61px;margin: 7px;">Download Uploaded Files</a>
        <a class="btn btn-info btn-lg shadow" role="button" href="/generatePdf"  style="font-size: 27px;border-radius: 61px;margin: 7px;">Generate info PDF</a>
        <a class="btn btn-info btn-lg shadow" role="button" href="/listPdf" style="font-size: 27px;border-radius: 61px;margin: 7px;">List generated PDF</a>
        <a class="btn btn-info btn-lg shadow" role="button" href="/sendEmail"  style="font-size: 27px;border-radius: 61px;margin: 7px;">Send Email</a>
        <a class="btn btn-info btn-lg shadow" role="button" href="/listEmails" style="font-size: 27px;border-radius: 61px;margin: 7px;">List sent Emails</a>
        <a class="btn btn-info btn-lg shadow" role="button" href="/oauth/login" style="font-size: 27px;border-radius: 61px;margin: 7px;">OAuth login</a>

    </div>
</div>
<hr>
{{{body}}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>