<div style="margin-left: 40%; margin-bottom: 10%">
    <h1>PDF files Saved </h1>
    {{#each files}}
        <h3>File name: {{this}} &nbsp; <a href="/getPdf/{{this}}">Click to download</a></h3>
    {{/each}}
</div>