<style>
    body{
        background-color: #dbdbd8;
    }
    #googlelogin{
        text-decoration: none;
        margin: 5%;
    }
    #login{
        text-align: center;
        background-color: rgb(255, 255, 255);
        padding: 7px;
        /* border: solid rgb(0, 0, 0) 1px; */
        border-radius: 5px;
        width: fit-content;
        font-size:25px;
        color: #939393;
        box-shadow:0.3px 0.3px 1px 0.3px #939393;
    }
    #login:hover{
        box-shadow:1px 1px 2px 1px #939393;
    }
</style>
<!--      Login with Google-->
<div style="text-align: center; margin-left: 40%">
    <a id="googlelogin" href="/oauth/google" >
        <div id="login">
            <div style="float:left;padding-right: 10px">
                <img src="/images/google.png" alt="Google Logo" height="27px" width="27px">
            </div>
            <span>Login/Signup with Google</span>
        </div>
    </a>
</div>